#registerForm .headLineRegister {
  text-align: center; }
#registerForm form {
  font-family: helvetica;
  display: block;
  margin: 0 auto;
  width: 200px; }
  #registerForm form label {
    font-family: helvetica;
    text-transform: uppercase; }
  #registerForm form input[type="text"] {
    border: 4px solid #30B171;
    border-radius: 3px;
    width: 200px; }
  #registerForm form input[type="password"] {
    border: 4px solid #30B171;
    border-radius: 3px;
    width: 200px; }
  #registerForm form input[type="submit"] {
    background: #30B171;
    border: none;
    color: white;
    text-transform: uppercase;
    width: 200px;
    height: 30px; }
    #registerForm form input[type="submit"]:hover {
      background: #2B9F65; }
